.catalog {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 0;
    background-image:url(../img/background.png);
    padding-bottom: 195px;
    padding-top:60px;
    position: relative;
    z-index:100;
    &__breadcrumbs {
        //breadcrumbs
    }
    &__container {
        width:$containerWidth;
        margin:0 auto;
    }
    &__heading {
        display:flex;
        align-items: flex-end;
        margin-top:10px;
        h2 {
            font-size:22px;
            text-transform: uppercase;
            font-weight: 500;
        }
        p {
            font-size:10px;
            margin-left:12px;
            font-weight: 500;
            color:#9f9f9f;
            padding-bottom:4px;
        }
    }
    &__interface {
        display:flex;
        flex-wrap: nowrap;
        margin-left:-10px;
        padding-top:10px;
    }
    &__column {
        padding-left:10px;
        &:first-child {
            flex-shrink: 0;
            flex-grow: 0;
            max-width: 280px;
        }
        &:last-child {
            flex-shrink: 1;
            flex-grow: 1;
        }
    }
    &__item {
        h3 {
            color:$mainColor;
            font-size:12px;
            text-align: center;
            padding:8px 20px;
            border-radius: 4px;
            background-color:$secondColor;
            text-transform: uppercase;
        }
        div {
            padding:20px;
            box-sizing: border-box;
            background-color:white;
            border-radius: 4px;
            ul {
                margin-top:-10px;
                font-size:12px;
                li {
                    margin-top:10px;
                    a {
                        color:black;
                        transition:color 0.3s;
                        &:hover {
                            color: $secondColor;
                        }
                    }
                }
            }
        }
        &+* {
            margin-top:10px;
        }
    }
    &__title {
        width:100%;
        box-sizing: border-box;
        padding:8px 30px;
        border-radius: 4px;
        background-color:$secondColor;
        position: relative;
        a {
            right:125px;
            top:-20px;
            transform:translateY(-100%);
            width:40px;
            height:40px;
            display:block;
            position: absolute;
            border-radius: 50%;
            background-color:$secondColor;
            background-repeat:no-repeat;
            background-size:30px 30px;
            background-position: 50% 50%;
            background-image:url(../img/catalog/arrow.svg);
        }
    }
    &__grid {
        margin-left:-30px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__card {
        //card
        padding-left:30px;
        padding-top:10px;
        width:33.3333%;
        box-sizing: border-box;
    }
    &__more {
        display:block;
        margin-left:30px;
        margin-top:40px;
        border-radius:25px;
        font-size:32px;
        color:black;
        border: 1px solid $mainColor;
        padding:7px 15px;
        text-transform: uppercase;
    }
}