.partners {
    padding:120px 0 180px 0;
    &_background {
        background-position: 50% 100%;
        background-size:cover;
        background-repeat: no-repeat;
        background-image:url(../img/background.png);
    }
    &_no-top-padding {
        padding-top:0;
    }
    &__container {
        width:$containerWidth;
        margin:0 auto;
    }
    &__heading {
        margin-bottom:45px;
    }
    &__grid {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left:-30px;
        margin-top:-30px;
    }
    &__cell {
        box-sizing: border-box;
        width:percentage(1/7);

        padding-left:30px;
        padding-top:30px;
    }
    &__item {
        display:block;
        padding-top:72%;

        background-repeat: no-repeat;
        background-size:contain;
        background-position: 50% 50%;
    }
}