include layouts/head.pug
body
    //- include layouts/navigation.pug
    section.header(style="background-image:url('../img/header/bg.jpg')")
        .header__container
            include layouts/navigation.pug
            .header__top
                    .header__search
                        .header__input
                            form(action="")
                                input(type="text" placeholder="Название, тип, производитель, код товара")
                        a.header__basket(data-count="2") корзина
                    ul.header__info
                        li 
                            a +7 (3452) 566 226
                        li г. Тюмень, ул. Чернышевского, д. 1, к. 5
                        li ПН-ПТ: 09:00-18:00
            img.header__logo(src="../img/logo.png")
            p.header__description
                | Онлайн дискаунтер спецодежды
                | и средств защиты для работы и отдыха
            a.header__button перейти в каталог
    section.slider
        .slider__container
            div(uk-slider="autoplay: true; autoplay-interval: 5000; pause-on-hover: true")
                .uk-position-relative
                    .uk-slider-container
                        ul.uk-slider-items.uk-child-width-1-1
                            - var n = 0;
                            while n < 3
                                li
                                    a.slider__slide(href="" style="background-image:url('../img/slider/rect.png')")
                                    - n++;
                ul.uk-slider-nav.uk-dotnav
    section.tiles
        .tiles__header
            h2.tiles__heading БУДЬТЕ НАШИМ КЛИЕНТОМ!
            a.tiles__button ВЫБЕРИТЕ КАТЕГОРИЮ
        .tiles__container 
            .tiles__grid
                .tiles__cell
                    .tiles__item.tiles__item_yellow(style="background-image:url('../img/tiles/item.png')")
                .tiles__cell
                    .tiles__item(style="background-image:url('../img/tiles/item.png')")
                .tiles__cell
                    .tiles__item(style="background-image:url('../img/tiles/item.png')")
                .tiles__cell
                    .tiles__item.tiles__item_yellow(style="background-image:url('../img/tiles/item.png')")
                .tiles__cell
                    .tiles__item(style="background-image:url('../img/tiles/item.png')")


    section.products.products_main
        .products__container
            h3.products__heading Популярное
            .products__grid
                - var n = 0;
                while n < 8
                    .products__cell
                        .products__card.simple-card(style="background-image:url('../img/products/dude.png')")
                            a.simple-card__link(data-text="подробнее")
                            - n++;
            .products__wrapper 
                a.products__more показать еще
            .products__wrapper
                p.products__description Широкий ассортимент и высокое качество
    section.partners.partners_no-top-padding
        .partners__container
            h3.partners__heading Наши партнеры
            .partners__grid
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/1.png')")
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/2.png')")    
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/3.png')")
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/4.png')")
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/5.png')")
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/6.png')")
                .partners__cell 
                    a.partners__item(style="background-image:url('../img/partners/7.png')")
    section.info
        .info__container
            ul.info__list
                li.info__item
                    a.info__link О компании
                li.info__item
                    a.info__link Шоурум
                li.info__item
                    a.info__link Доставка
                li.info__item
                    a.info__link Примерка
                li.info__item
                    a.info__link Оплата
                li.info__item
                    a.info__link Гарантия
                li.info__item
                    a.info__link Возврат
    include layouts/footer.pug 