footer.footer
    .footer__waves
    .footer__container
        a.footer__button(href="#" uk-scroll)
        .footer__grid
            .footer__cell 
                h4.footer__heading 
                    | Всегда на связи для Вас
                p.footer__description 
                    | Позвоните нам на 
                    a(href="tel:83452566226") 8-345-256-62-26 
                    | или напишите. Мы обязательно ответим
            .footer__cell 
                img.footer__logo(src="../img/logo.png")
                p.footer__address ООО «Тюмень Спец Трейдинг» / ООО «ТСТ» г. Тюмень, ул. Чернышевского, д. 1, к. 5
                p.footer__contacts 
                    | Тел.: 
                    a +7 (3452) 566-226 
                    | , 
                    a +7 (3452) 565-202
                    | 
                    a office@oootct.ru
                    | , 
                    a www.oootct.ru
            .footer__cell 
                a.footer__social.footer__social_mail
                a.footer__social.footer__social_inst

script(src="js/script.js")  
