footer.footer
    .footer__waves
    .footer__container
        a.footer__button(href="#" uk-scroll)
        .footer__grid
            .footer__cell
            .footer__cell
            .footer__cell

script(src="js/script.js")  
