html(lang="en")
head
    meta(charset="utf-8")
    title boilerplate
    meta(name="description", content="The HTML5 Herald")
    meta(name="author", content="Vasilstar")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700")
    link(rel="stylesheet", href="css/styles.css") 