nav.navigation
    .navigation__container
        ul.navigation__list
            li.navigation__item
                a.navigation__link профессия
            li.navigation__item
                a.navigation__link защита   
            li.navigation__item
                a.navigation__link охота   
            li.navigation__item
                a.navigation__link рыбалка   
            li.navigation__item
                a.navigation__link туризм   
            li.navigation__item
                a.navigation__link отдых   