nav.header__navigation.navigation.navigation_contrast
                .navigation__container
                    ul.navigation__list
                        li
                            a профессия
                        li
                            a защита   
                        li
                            a охота   
                        li
                            a рыбалка   
                        li
                            a туризм   
                        li
                            a отдых  
                    a.navigation__entity для юр.лиц
                    a.navigation__city тюмень
                    ul.navigation__login 
                        li
                            a вход
                        li
                            a регистрация